{% extends "learning_logs/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div>
        <h1>首页</h1>
        <p>这里是学习笔记的首页，欢迎来到这里！</p>
        <p>这里将展示学习笔记的最新动态，欢迎关注！</p>
        <p>这里将展示学习笔记的最新动态，欢迎关注！</p>
        <p>这里将展示学习笔记的最新动态，欢迎关注！</p>
        <p>这里将展示学习笔记的最新动态，欢迎关注！</p>
        <p>这里将展示学习笔记的最新动态，欢迎关注！</p>
        <p>这里将展示学习笔记的最新动态，欢迎关注！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
        <p>捅死你喵！</p>
    </div>
{% endblock content %}
</body>
</html>