{% extends "learning_logs/base.html" %}
{% block navbar %}{% endblock navbar %}
{% block content %}
    <head><meta charset="UTF-8"></head>
    <div class="note-card">
        <!-- 卡片式标题 -->
        <div class="card mb-3">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.title.id_for_label }}" class="form-label">标题</label>
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="text-danger">
                                {{ form.title.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.text.id_for_label }}" class="form-label">内容</label>
                        {{ form.text }}
                        {% if form.text.errors %}
                            <div class="text-danger">
                                {{ form.text.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
    