<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <base href="#" target="_blank">
  <title>Title</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="parallax">
    <p id="text">Education</p>
    <img src="assets/background.png" class="background" alt="background" id="background">
    <img src="assets/ground.png" class="ground" alt="ground" id="ground">
    <img src="assets/bird.png" class="bird" alt="bird" id="bird">
  </section>
  <div><h1>欢迎━(*｀∀´*)ノ亻!</h1>
        <h3>日常总有很多事情需要记录，比如学习、工作、生活，这些记录可以帮助我们更好的管理和总结，提高工作效率。下面是一些我认为有用的记录方式：</h3>
        <ul>
            <li>学习笔记：记录自己学习的知识点、方法、技巧等，可以帮助自己复习和巩固知识。</li>
            <li>工作日志：记录自己工作中遇到的问题、解决方法、收获、困难等，可以帮助自己总结经验，提升工作能力。</li>
            <li>生活记录：记录自己生活中的感受、想法、体会等，可以帮助自己更好地了解自己的生活。</li>
        </ul>
        这些记录可以帮助我们更好的管理自己的时间，提高工作效率，更好地了解自己的生活。
        希望大家能够多多利用这些记录，提升自己的能力，更好的管理自己的时间。
        最后，祝大家工作顺利！
    </div>
  <nav class="navbar">
    <a href="#" class="nav-item" onclick="parallax()">首页</a>
    <a href="#" class="nav-item" onclick="parallax()">关于我们</a>
    <a href="#" class="nav-item" onclick="parallax()">服务</a>
    <a href="#" class="nav-item" onclick="parallax()">Ciallo～(∠・ω< )⌒☆</a>
  </nav>
</body>
<script src="index.js"></script>
</html>
